* {
    padding: 0;
    margin: 0;
    font-family: 'Times New Roman', Times, serif;   
}
a{
    color: inherit;
    text-decoration: none;
}
.medsos {
    padding: 5px 0;
    background-color: #FFB6C1;
}
.medsos ul li {
    display: inline-block;
    color: black;
    margin-right: 10px;
}
.container{
    width: 80%;
    margin:0 auto ;
}
.container:after{
    content: '';
    display: block;
    clear: both;
}
header h1{
    float: left;
    padding: 15px 0;
    color: #FFB6C1;
}
header ul {
    float: right;
}
header ul li{
    display: inline-block;
}
header ul li a {
    padding: 25px 20px;
    display: inline-block;
}
header ul li a:hover{
    background-color: #FFB6C1;
    color:#fff;
}
.active{
    background-color: #FFB6C1;
    color:#fff;
}
.banner{
    height: 60vh;
    background-image: url(../img/banner.jpg);
    background-size: cover;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
}
.banner:after{
    content: '';
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(100, 71, 76, .6);
}
.banner h2{
    color: #fff;
    z-index: 1;
    padding: 20px 25px;
    border: 3px solid #fff;
}
section{
    padding: 50px 0;
}
section h3{
    text-align: center;
    padding: 20px 0;
    color: #FFB6C1;
}
img.tengah {
    display: block;
    margin-left: auto;
    margin-right: auto;
}
.about p{
    color: #666;
    word-spacing: 2px;
    line-height: 25px;
}

.about .container h2{
    color:#cb416b;
    font-weight: 600;
    text-align: center;
}
.skill{
    background-color:#da9a8c ;
}
.box{
    color: #cb416b;
}
.box:after{
    content: '';
    display: block;
    clear: both;
}
.box .col-3{
    width: 33.3%;
    padding: 20px;
    box-sizing: border-box;
    text-align: center;
    float: left;
}
.icon{
    width: 70px;
    height: 70px;
    border: 1px solid;
    border-radius: 50%;
    text-align: center;
    line-height: 70px;
    font-size: 30px;
    margin: auto;
}
.box .col-3 h4{
    margin: 20px 0;
}
.label{
    background-color: #FFB6C1;
    padding: 50px;
    color: #fff;
    text-align: center;
}
.portofolio {
    background: var(--second-bg-color);
    background-color:#c78690;
}
.portofolio h2{
    margin-top: 1rem;
    margin-bottom: 4rem;
    font-size: 2.2rem;
    font-weight: 700;
    line-height: 1.3;
    text-align: center;
}
.portofolio-container {
    display:grid;
    grid-template-columns: repeat(2, 1fr);
    justify-content: left;
    align-items: center;
    gap: 2.5rem;
}
.portofolio-container .portofolio-box {
    flex: 1 1 20rem;
    background: #a76b74;
    padding: 3rem 2rem 2rem;
    position: relative;
    border-radius: 2rem;
    box-shadow: 1 0 1em var(--bg-color);
    overflow: hidden;
    text-align: center;
}
.portofolio-box img{
    width: 100%;
    border-radius: 20px;
    border: 0;
    margin-bottom: 2rem;
    box-shadow: 0 0 2rem var(--bg-color);
    letter-spacing: .1rem;
    transition: .5s ease;
}
.blog h2{
    margin-top: 6rem;
    font-size: 4.2rem;
    font-weight: 700;
    line-height: 1.3;
    text-align: center;
    color: var(--text-color);
}

.blog span{
    font-size: 4.2rem;
    font-weight: 700;
    line-height: 1.3;
    color: var(--main-color);
}

.blog {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding: 40px;
    border-bottom: 1px solid var(--bg-color);
    background: var(--bg-color);
    background-color:#c78690;
}

#container {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 20px 0;
    flex-wrap: wrap;
}

#box{
    width: 350px;
    background-color: #ffffff;
    border: 2px solid #cecaca;
    margin: 20px;
    transition: 0.5s;
}

#box:hover {
    transform: scale(1.02);

}

#box .img{
   width: 100%;
   height: auto;
}

#box .img img{
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: center;
}

.text .title{
    font-size: 1.5rem;
    font-weight: 600;
    color: var(--text-color);
}

.text .title:hover{
    color: var(--main-color);
    transition: all ease 0.3s;
}

.text{
    padding: 20px;
    display: flex;
    flex-direction: column;
    text-align: justify;
}

.text p{
    color: var(--text-color);
    font-size: 0.9rem;
    display: -webkit-box;
    -webkit-line-clamp: 3;
    -webkit-box-orient: vertical;
    overflow: hidden;
    text-overflow: ellipsis;
    margin: 20px 0;
}

.text a{
    color: var(--text-color);
    font-weight: 600;
}

.text a:hover{
    color: var(--main-color);
    transition: all ease 0.3s;
}
#medsos {
    background: linear-gradient(rgb(202, 119, 119) 0%, #FFB6C1 70%);
    height: 100%;
    width: 100%;
  }
  
  #medsos h2 {
    margin-top: 2rem;
    margin-bottom: 6rem;
    font-size: 4.2rem;
    font-weight: 700;
    line-height: 1.3;
    text-align: center;
    color: var(--text-color);
  }
  
  #medsos span {
    font-size: 4.2rem;
    font-weight: 700;
    line-height: 1.3;
    color: var(--main-color);
  }
  
  .ikon {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    padding: 2rem;
  }
  
  .ikon a {
    display: inline-flex;
    width: 40px;
    height: 40px;
    background: #be7f89;
    color: var(--text-color);
    margin: 0 6px;
    border-radius: 50%;
    justify-content: center;
    align-items: center;
    transition: 0.4s;
    text-decoration: none;
    font-size: 24px;
    padding: 2rem;
    transition: 0.5s;
  }
  
  .ikon a:hover{
    background: #fff;
  }
  
  .ikon a:hover > i{
    transform: scale(1.02) rotate(25deg);
  }
  
  .ikon a i{
    transform: 0.5s all;
  }
  .contact h2 {
    margin-top: 2rem;
    font-size: 4.2rem;
    font-weight: 700;
    line-height: 1.3;
    text-align: center;
    color: var(--text-color);
  }
  
  .contact span {
    font-size: 4.2rem;
    font-weight: 700;
    line-height: 1.3;
    color: var(--main-color);
  }
  
  .contact form{
    max-width: 70rem;
    margin: 1rem auto;
    text-align: center;
    margin-bottom: 3rem;
  }
  
  .contact form .input-box{
    display: flex;
    justify-content: space-between;
    flex-wrap: initial;
  }
  
  .contact form .input-box input,
  .contact form textarea{
    width: 95%;
    padding: 1.5rem;
    font-size: 1.6rem;
    color: var(--text-color);
    background-color: var(--second-bg-color);
    border-radius: .8rem;
    margin: .7rem 0;
  }
  
  .contact form .input-box input{
    width: 39%;
    background-color: #f59e9e;
  }
  
  .contact form textarea{
    resize: none;
    background-color: #f59e9e;
  }
  
  .contact form .btn{
    margin-top: 1rem;
    cursor: pointer;
    background-color: var(--main-color);
    color: var(--second-bg-color);
    font-weight: 600;
    font-size: 1.4rem;
    border: 2px;
    border-radius: 10px;
    padding: 1rem;
    box-shadow: 0 0 1rem var(--main-color);
    letter-spacing: 0.1rem;
    transition: 0.5s ease;
  }
  
  .contact form .btn:hover {
    box-shadow: none;
  }